<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta charset="UTF-8">
            <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
            <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <title>Esp32</title>
            {% endblock %}
        </head>
        <body>
            <div class="main-content">
                <div class="list-registered">
                    <!-- <div class="device-register">
                        <div class="device-info">
                            <span class="name-title">Comodo 1</span>
                            <div class="measure">
                                <span style="font-weight: bold;">Temperatura: </span> <span id="temperatura">?</span>
                            </div>
                            <div class="measure">
                                <span style="font-weight: bold;">Umidade: </span> <span id="umidade">?</span>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="btn-trash">
                                <span>Excluir</span>
                                <i style="color: #FFF;"  class="fas fa-trash"></i>
                            </div>
                            <div class="btn-led">
                                <span>Ligar LED</span>
                                <i style="color: #FFF;"  class="fas fa-power-off"></i>
                            </div>
                        </div>                   
                    </div>
                    <div class="device-register">
                        <div class="device-info">
                            <span class="name-title">Comodo 2</span>
                            <div class="measure">
                                <span style="font-weight: bold;">Temperatura: </span> <span id="temperatura">?</span> <br>
                            </div>
                            <div class="measure">
                                <span style="font-weight: bold;">Umidade: </span> <span id="umidade">?</span>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="btn-trash">
                                <span>Excluir</span>
                                <i style="color: #FFF;"  class="fas fa-trash"></i>
                            </div>
                            <div class="btn-led">
                                <span>Ligar LED</span>
                                <i style="color: #FFF;"  class="fas fa-power-off"></i>
                            </div>
                        </div>                    
                    </div>
                    <div class="device-register">                    
                        <div class="device-info">
                            <span class="name-title">Comodo 3</span>
                            <div class="measure">
                                <span style="font-weight: bold;">Temperatura: </span> <span id="temperatura">?</span> <br>
                            </div>
                            <div class="measure">
                                <span style="font-weight: bold;">Umidade: </span> <span id="umidade">?</span>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="btn-trash">
                                <span>Excluir</span>
                                <i style="color: #FFF;" class="fas fa-trash"></i>
                            </div>
                            <div class="btn-led">
                                <span>Ligar LED</span>
                                <i style="color: #FFF;" class="fas fa-power-off"></i>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="list-unregistered">
                    <span class="title-unregister-device">Dispositivos Não Registrados</span>
                    <div class="list-devices">
                        <!-- <div class="device-unregistered">
                            <div>
                                <span class="label-device">Dispositivo: </span>
                                <span class="label-device">1531321:</span>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="device-unregistered">
                            <div>
                                <span class="label-device">Dispositivo: </span>
                                <span class="label-device">1531321</span>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="device-unregistered">
                            <div>
                                <span class="label-device">Dispositivo: </span>
                                <span class="label-device">1531321</span>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div> -->
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cadastrar Novo Dispositivo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                  <label for="name-comodo">Nome do Cômodo</label>
                                  <input type="text" class="form-control" id="name-comodo" aria-describedby="emailHelp" placeholder="Digite o nome do cômodo">
                                </div>
                                <div class="form-group">
                                  <label for="name-input">Nome para Entrada</label>
                                  <input type="text" class="form-control" id="name-input" placeholder="Digite o nome para a entrada">
                                </div>
                                <div class="form-group">
                                    <label for="name-output">Nome para Saída</label>
                                    <input type="text" class="form-control" id="name-output" placeholder="Digite o nome para a saida">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button onclick="RegisterDevice()" type="button" class="btn btn-primary" data-dismiss="modal">Enviar</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">

            var idDeviceToRegister = null;
            var deviceUnregistered = [];

            function newDeviceUnRegistered(idDevice) {
                var listUnregistered = document.querySelector(".list-devices");
                
                var deviceUnregistered = document.createElement("div");
                deviceUnregistered.className = "device-unregistered";
                deviceUnregistered.setAttribute("id", `device-${String(idDevice)}`);
                
                var divInfo = document.createElement("div");
                
                var spanLabel = document.createElement("span");
                spanLabel.innerText = "Dispositivo: ";
                spanLabel.style.fontWeight = "bold";

                var device = document.createElement("span");
                device.innerText = String(idDevice);
                
                var icon = document.createElement("i");
                icon.className = "fas fa-plus";

                var button = document.createElement("button");
                button.setAttribute("type", "button");
                button.setAttribute("data-toggle", "modal");
                button.setAttribute("id", String(idDevice));
                button.setAttribute("data-target", "#exampleModal");
                button.className = "btn btn-primary";
                button.addEventListener('click', function(){ 
                    idDeviceToRegister = idDevice;
                }, false);
                button.appendChild(icon);
                
                divInfo.appendChild(spanLabel);
                divInfo.appendChild(device);
                deviceUnregistered.appendChild(divInfo);
                deviceUnregistered.appendChild(button);
                listUnregistered.appendChild(deviceUnregistered);
            }

            function newCommoditieRegister(commoditie, commoditieParser) {
                var listRegistered = document.querySelector(".list-registered");

                var deviceRegistered = document.createElement("div");
                deviceRegistered.className = "device-register";

                var deviceInfo = document.createElement("div");
                deviceInfo.className = "name-title";

                var nameTitle = document.createElement("span");
                nameTitle.className = "name-title";
                nameTitle.innerText = commoditie;

                var measureTemperature = document.createElement("div"); 
                measureTemperature.className = "measure";

                var temperatureLabel = document.createElement("span");
                temperatureLabel.style.fontWeight = "bold";
                temperatureLabel.innerText = "Temperatura: ";

                var temperature = document.createElement("span");
                temperature.innerText = "?";
                temperature.setAttribute("id", `temperature-${commoditieParser}`);

                measureTemperature.appendChild(temperatureLabel);
                measureTemperature.appendChild(temperature);

                var measureHumidity = document.createElement("div"); 
                measureHumidity.className = "measure";

                var HumidityLabel = document.createElement("span");
                HumidityLabel.style.fontWeight = "bold";
                HumidityLabel.innerText = "Umidade: ";

                var humidity = document.createElement("span");
                humidity.innerText = "?";
                humidity.setAttribute("id", `humidity-${commoditieParser}`);

                var actions = document.createElement("div");
                actions.classList = "actions";

                var btnTrash = document.createElement("div");
                btnTrash.classList = "btn-trash";
                
                btnLabelTrash = document.createElement("span");
                btnLabelTrash.innerText = "Excluir";

                var iconTrash = document.createElement("i");
                iconTrash.className = "fas fa-trash";
                iconTrash.style.color = "#fff";

                btnTrash.appendChild(btnLabelTrash);
                btnTrash.appendChild(iconTrash);

                var btnLed = document.createElement("div");
                btnLed.classList = "btn-led";

                btnLabelLed= document.createElement("span");
                btnLabelLed.innerText = "Ligar LED";

                var iconLed = document.createElement("i");
                iconLed.className = "fas fa-power-off";
                iconLed.style.color = "#fff";

                btnLed.appendChild(btnLabelLed);
                btnLed.appendChild(iconLed);

                actions.appendChild(btnTrash);
                actions.appendChild(btnLed);

                measureHumidity.appendChild(HumidityLabel);
                measureHumidity.appendChild(humidity);

                deviceInfo.appendChild(nameTitle);
                deviceInfo.appendChild(measureTemperature);
                deviceInfo.appendChild(measureHumidity);

                deviceRegistered.appendChild(deviceInfo);
                deviceRegistered.appendChild(actions);
                listRegistered.appendChild(deviceRegistered);
            }

            function removeAccent(text)
            {       
                text = text.toLowerCase().replaceAll(" ", "_");                                                         
                text = text.replace(new RegExp('[ÁÀÂÃ]','gi'), 'a');
                text = text.replace(new RegExp('[ÉÈÊ]','gi'), 'e');
                text = text.replace(new RegExp('[ÍÌÎ]','gi'), 'i');
                text = text.replace(new RegExp('[ÓÒÔÕ]','gi'), 'o');
                text = text.replace(new RegExp('[ÚÙÛ]','gi'), 'u');
                text = text.replace(new RegExp('[Ç]','gi'), 'c');
                return text;                 
            }

            var socket = io(
                {
                    reconnection: true,
                    reconnectionAttempts: Infinity,
                    reconnectionDelay: 1000,
                    reconnectionDelayMax: 1500,
                    timeout: 1500,
                    transports : ['polling']
                }
            );

            socket.on('connect', () => {
                console.log('Conectado!');
            });

            socket.on("devices_unregistered", function(msg) {
                msg.unregistered.forEach(item => {
                    var elementExists = document.getElementById(item);
                    if(!elementExists) {
                        newDeviceUnRegistered(item);
                    }
                });
            });

            function RegisterDevice() {
                var commoditie = document.getElementById("name-comodo").value;
                var input = document.getElementById("name-input").value;
                var output = document.getElementById("name-output").value;
                
                var commoditieParser = removeAccent(String(commoditie));  
                
                newCommoditieRegister(commoditie, commoditieParser);
                var unregisterDevice = document.getElementById(`device-${idDeviceToRegister}`);
                unregisterDevice.remove();

                socket.emit('publish_channel', {
                    "comodo": commoditieParser
                });

                socket.on(`fse2020/160121817/${commoditieParser}/temperatura`, (msg) => {
                    var temperatureSpan = document.getElementById(`temperature-${commoditieParser}`);
                    temperatureSpan.innerText = `${String(msg)} C°`;
                });

                socket.on(`fse2020/160121817/${commoditieParser}/umidade`, (msg) => {
                    var temperatureSpan = document.getElementById(`humidity-${commoditieParser}`);
                    temperatureSpan.innerText = `${String(msg)} %`;
                });

                socket.on(`fse2020/160121817/${commoditieParser}/status`, (msg) => {
                    console.log(`Status: ${msg}`);
                });
            }

            // socket.on("fse2020/160121817/sala/temperatura", function(msg) {
            //     var umidadeSpan = document.getElementById("temperatura");
            //     umidadeSpan.textContent = msg["temperatura"] + "C°";
            // });

            // socket.on("fse2020/160121817/sala/umidade", function(msg) {
            //     var umidadeSpan = document.getElementById("umidade");
            //     umidadeSpan.textContent = msg["umidade"] + "%";
            // });
        </script>
    </body>
</html>